@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import "./variables.scss";
@import "../components/layout/layout.scss";
@import "../components/navbar/navbar.scss";
@import "../pages/login/login.scss";
@import "../pages/dashboard/dashboard.scss";
@import "../pages/modCarga/modCarga.scss";
@import "../pages/modAcciones/modAcciones.scss";
@import "../pages/modInformes/modinformes.scss";
@import "../components/informes/dia/dia.scss";
@import "../components/footer/foter.scss";
@import "../pages/modUsuarios/modUsuarios.scss";
@import "../pages/panelTecnico/panelTecnico.scss";
@import "../pages/asignaciones/asignaciones.scss";

body{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}
