@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import "../components/layout/layout.scss";
@import "../components/navbar/navbar.scss";
@import "../pages/login/login.scss";
@import "../pages/dashboard/dashboard.scss";
@import "../pages/modCarga/modCarga.scss";

body{
    margin: 0;
    padding: 0;
    font-family: 'Abel', sans-serif;
}