.caja{
    height: 100vh;
    background: #4A5775;
    #tsparticles{
        height: 100vh;
        width: 100vw;
        position: fixed;
    }
}
.arealogin{
    color: #ffffff;
    position: absolute;
    height: auto;
    margin-top: 15%;
    background: rgba(230, 230, 230, 0.247);
    border-radius: 5%;
}
.form-text{
    color:#ffffff77;
}